In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df=pd.read_csv('file.csv')

In [3]:
df

,order_id,order_date,customer_name,segment,country,region,product_id,category,product_name,sales,quantity,discount,profit,year
0,AG-2011-2040,01-01-2011,Toby Braunhardt,Consumer,Algeria,Africa,OFF-TEN-10000025,Office Supplies,"Tenex Lockers, Blue",408,2,0.0,106.1400,2011
1,IN-2011-47883,01-01-2011,Joseph Holt,Consumer,Australia,Oceania,OFF-SU-10000618,Office Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.0360,2011
2,HU-2011-1220,01-01-2011,Annie Thurman,Consumer,Hungary,EMEA,OFF-TEN-10001585,Office Supplies,"Tenex Box, Single Width",66,4,0.0,29.6400,2011
3,IT-2011-3647632,01-01-2011,Eugene Moren,Home Office,Sweden,North,OFF-PA-10001492,Office Supplies,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,2011
4,IN-2011-47883,01-01-2011,Joseph Holt,Consumer,Australia,Oceania,FUR-FU-10003447,Furniture,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,Erica Bern,Corporate,United States,West,OFF-BI-10002103,Office Supplies,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,2014
51286,MO-2014-2560,12/31/2014,Liz Preis,Consumer,Morocco,Africa,OFF-WIL-10001069,Office Supplies,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,2014
51287,MX-2014-110527,12/31/2014,Charlotte Melton,Consumer,Nicaragua,Central,OFF-LA-10004182,Office Supplies,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,2014
51288,MX-2014-114783,12/31/2014,Tamara Dahlen,Consumer,Mexico,North,OFF-LA-10000413,Office Supplies,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,2014
51289,CA-2014-156720,12/31/2014,Jill Matthias,Consumer,United States,West,OFF-FA-10003472,Office Supplies,Bagged Rubber Bands,3,3,0.2,-0.6048,2014

In [4]:
def check_df(dataframe, head=5):
    print('########### head #########')
    print(dataframe.head(head))
    print('########### shape #########')
    print(dataframe.shape)
    print('######### dtypes #########')
    print(dataframe.dtypes)
    print('########## describe ##########')
    print(dataframe.describe().T)
    print('########### isnull ###########')
    print(dataframe.isnull().values.any())
    print('########### columns ##########')
    print(dataframe.columns)
    print('############ tail ##########')
    print(dataframe.tail(head))
    
    
check_df(df)

########### head #########
          order_id  order_date    customer_name      segment    country  \
0     AG-2011-2040  01-01-2011  Toby Braunhardt     Consumer    Algeria
1    IN-2011-47883  01-01-2011      Joseph Holt     Consumer  Australia
2     HU-2011-1220  01-01-2011    Annie Thurman     Consumer    Hungary
3  IT-2011-3647632  01-01-2011     Eugene Moren  Home Office     Sweden
4    IN-2011-47883  01-01-2011      Joseph Holt     Consumer  Australia

    region        product_id         category                 product_name  \
0   Africa  OFF-TEN-10000025  Office Supplies          Tenex Lockers, Blue
1  Oceania   OFF-SU-10000618  Office Supplies     Acme Trimmer, High Speed
2     EMEA  OFF-TEN-10001585  Office Supplies      Tenex Box, Single Width
3    North   OFF-PA-10001492  Office Supplies  Enermax Note Cards, Premium
4  Oceania   FUR-FU-10003447        Furniture   Eldon Light Bulb, Duo Pack

  sales  quantity  discount   profit  year
0   408         2       0.0  106.140  2011
1   120         3       0.1   36.036  2011
2    66         4       0.0   29.640  2011
3    45         3       0.5  -26.055  2011
4   114         5       0.1   37.770  2011
########### shape #########
(51290, 14)
######### dtypes #########
order_id          object
order_date        object
customer_name     object
segment           object
country           object
region            object
product_id        object
category          object
product_name      object
sales             object
quantity           int64
discount         float64
profit           float64
year               int64
dtype: object
########## describe ##########
            count         mean         std       min     25%      50%  \
quantity  51290.0     3.476545    2.278766     1.000     2.0     3.00
discount  51290.0     0.142908    0.212280     0.000     0.0     0.00
profit    51290.0    28.641740  174.424113 -6599.978     0.0     9.24
year      51290.0  2012.777208    1.098931  2011.000  2012.0  2013.00

              75%       max
quantity     5.00    14.000
discount     0.20     0.850
profit      36.81  8399.976
year      2014.00  2014.000
########### isnull ###########
False
########### columns ##########
Index(['order_id', 'order_date', 'customer_name', 'segment', 'country',
       'region', 'product_id', 'category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'year'],
      dtype='object')
############ tail ##########
             order_id  order_date     customer_name    segment        country  \
51285  CA-2014-115427  12/31/2014        Erica Bern  Corporate  United States
51286    MO-2014-2560  12/31/2014         Liz Preis   Consumer        Morocco
51287  MX-2014-110527  12/31/2014  Charlotte Melton   Consumer      Nicaragua
51288  MX-2014-114783  12/31/2014     Tamara Dahlen   Consumer         Mexico
51289  CA-2014-156720  12/31/2014     Jill Matthias   Consumer  United States

        region        product_id         category  \
51285     West   OFF-BI-10002103  Office Supplies
51286   Africa  OFF-WIL-10001069  Office Supplies
51287  Central   OFF-LA-10004182  Office Supplies
51288    North   OFF-LA-10000413  Office Supplies
51289     West   OFF-FA-10003472  Office Supplies

                                          product_name sales  quantity  \
51285  Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl    14         2
51286          Wilson Jones Hole Reinforcements, Clear     4         1
51287           Hon Color Coded Labels, 5000 Label Set    26         3
51288           Hon Legal Exhibit Labels, Alphabetical     7         1
51289                              Bagged Rubber Bands     3         3

       discount   profit  year
51285       0.2   4.5188  2014
51286       0.0   0.4200  2014
51287       0.0  12.3600  2014
51288       0.0   0.5600  2014
51289       0.2  -0.6048  2014

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       51290 non-null  object
 1   order_date     51290 non-null  object
 2   customer_name  51290 non-null  object
 3   segment        51290 non-null  object
 4   country        51290 non-null  object
 5   region         51290 non-null  object
 6   product_id     51290 non-null  object
 7   category       51290 non-null  object
 8   product_name   51290 non-null  object
 9   sales          51290 non-null  object
 10  quantity       51290 non-null  int64
 11  discount       51290 non-null  float64
 12  profit         51290 non-null  float64
 13  year           51290 non-null  int64
dtypes: float64(2), int64(2), object(10)
memory usage: 5.5+ MB

In [6]:
# AdÄ±m 2: Numerik ve kategorik deÄŸiÅŸkenleri yakalayÄ±nÄ±z.
def grab_col_name(dataframe, cat_th=5, car_th=10):
    # Category
    cat_cols=[col for col in dataframe.columns if dataframe[col].dtypes=='O']
    num_but_cat=[col for col in dataframe.columns if dataframe[col].nunique() < cat_th and dataframe[col].dtypes !='O']
    cat_but_car=[col for col in dataframe.columns if dataframe[col].nunique() > car_th and dataframe[col].dtypes=='O']
    cat_cols+=num_but_cat
    cat_cols=[col for col in cat_cols if col not in cat_but_car]
    
    # Number
    num_cols=[col for col in dataframe.columns if dataframe[col].dtypes !='O']
    num_cols = [col for col in num_cols if col not in num_but_cat]
    
    
    print(f'Gozlem sayisi {dataframe.shape[0]}')
    print(f'Deyisken sayisi {dataframe.shape[1]}')
    print(f'categorik deyiskenler {len(cat_cols)}')
    print(f'number but categorik {len(num_but_cat)}')
    print(f'cardinal {len(cat_but_car)}')
    print(f'number {len(num_cols)}')
    
    return cat_cols, num_but_cat, cat_but_car ,num_cols

In [7]:
cat_cols, num_but_cat, cat_but_car ,num_cols=grab_col_name(df)

Gozlem sayisi 51290
Deyisken sayisi 14
categorik deyiskenler 3
number but categorik 1
cardinal 8
number 3

In [8]:
cat_cols

['segment', 'category', 'year']

In [9]:
num_but_cat

['year']

In [10]:
cat_but_car

['order_id',
 'order_date',
 'customer_name',
 'country',
 'region',
 'product_id',
 'product_name',
 'sales']

In [11]:
num_cols

['quantity', 'discount', 'profit']

In [12]:
def category_sum(dataframe, col_name):
    print(pd.DataFrame({col_name: dataframe[col_name].value_counts(),
                       'Ratio': 100*dataframe[col_name].value_counts()/len(dataframe)}))
    print('###########################################')

In [13]:
for col in cat_cols:
    category_sum(df,col)

             segment      Ratio
segment
Consumer       26518  51.702086
Corporate      15429  30.081887
Home Office     9343  18.216027
###########################################
                 category      Ratio
category
Office Supplies     31273  60.972899
Technology          10141  19.771885
Furniture            9876  19.255215
###########################################
       year      Ratio
year
2014  17531  34.180152
2013  13799  26.903880
2012  10962  21.372587
2011   8998  17.543381
###########################################

In [14]:
def numerical_sum(dataframe,num_col):
    quantiles=[0.05,0.10,0.20,0.30,0.40,0.50,0.60,0.70,0.80,0.90,0.95,0.99]
    print(dataframe[num_col].describe(quantiles))
    print('###########################################')

In [15]:
for col in num_cols:
    numerical_sum(df,col)

count    51290.000000
mean         3.476545
std          2.278766
min          1.000000
5%           1.000000
10%          1.000000
20%          2.000000
30%          2.000000
40%          2.000000
50%          3.000000
60%          3.000000
70%          4.000000
80%          5.000000
90%          7.000000
95%          8.000000
99%         11.000000
max         14.000000
Name: quantity, dtype: float64
###########################################
count    51290.000000
mean         0.142908
std          0.212280
min          0.000000
5%           0.000000
10%          0.000000
20%          0.000000
30%          0.000000
40%          0.000000
50%          0.000000
60%          0.100000
70%          0.200000
80%          0.350000
90%          0.500000
95%          0.600000
99%          0.700000
max          0.850000
Name: discount, dtype: float64
###########################################
count    51290.000000
mean        28.641740
std        174.424113
min      -6599.978000
5%         -83.877840
10%        -30.556500
20%         -4.694400
30%          1.638000
40%          4.920000
50%          9.240000
60%         15.901600
70%         27.532440
80%         50.740000
90%        112.680000
95%        211.500000
99%        588.786150
max       8399.976000
Name: profit, dtype: float64
###########################################

In [16]:
for col in cat_cols:
    numerical_sum(df,col)

count        51290
unique           3
top       Consumer
freq         26518
Name: segment, dtype: object
###########################################
count               51290
unique                  3
top       Office Supplies
freq                31273
Name: category, dtype: object
###########################################
count    51290.000000
mean      2012.777208
std          1.098931
min       2011.000000
5%        2011.000000
10%       2011.000000
20%       2012.000000
30%       2012.000000
40%       2013.000000
50%       2013.000000
60%       2013.000000
70%       2014.000000
80%       2014.000000
90%       2014.000000
95%       2014.000000
99%       2014.000000
max       2014.000000
Name: year, dtype: float64
###########################################

In [17]:
def target_sumarry_with_mean(dataframe, target, numerical_col):
    print(dataframe.groupby(target).agg({numerical_col: 'mean'}))

In [18]:
for col in num_cols:
    target_sumarry_with_mean(df,'sales', col)

       quantity
sales
0      1.000000
1      1.454545
1,000  3.750000
1,001  5.333333
1,002  4.375000
...         ...
995    4.500000
996    7.500000
997    4.500000
998    4.000000
999    5.600000

[2246 rows x 1 columns]
       discount
sales
0      0.800000
1      0.645455
1,000  0.008750
1,001  0.131667
1,002  0.100000
...         ...
995    0.000000
996    0.000000
997    0.000000
998    0.001000
999    0.150000

[2246 rows x 1 columns]
           profit
sales
0       -1.110000
1       -1.358073
1,000  283.603538
1,001   21.775950
1,002  152.734500
...           ...
995    248.700000
996    169.275000
997    164.355000
998    373.515200
999     41.070720

[2246 rows x 1 columns]

In [19]:
df.head()

,order_id,order_date,customer_name,segment,country,region,product_id,category,product_name,sales,quantity,discount,profit,year
0,AG-2011-2040,01-01-2011,Toby Braunhardt,Consumer,Algeria,Africa,OFF-TEN-10000025,Office Supplies,"Tenex Lockers, Blue",408,2,0.0,106.140,2011
1,IN-2011-47883,01-01-2011,Joseph Holt,Consumer,Australia,Oceania,OFF-SU-10000618,Office Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,2011
2,HU-2011-1220,01-01-2011,Annie Thurman,Consumer,Hungary,EMEA,OFF-TEN-10001585,Office Supplies,"Tenex Box, Single Width",66,4,0.0,29.640,2011
3,IT-2011-3647632,01-01-2011,Eugene Moren,Home Office,Sweden,North,OFF-PA-10001492,Office Supplies,"Enermax Note Cards, Premium",45,3,0.5,-26.055,2011
4,IN-2011-47883,01-01-2011,Joseph Holt,Consumer,Australia,Oceania,FUR-FU-10003447,Furniture,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,2011

In [20]:
df.shape

(51290, 14)

In [21]:
df.duplicated().sum()

9

In [22]:
df.drop_duplicates(inplace=True)

In [23]:
df.shape

(51281, 14)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51281 entries, 0 to 51289
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       51281 non-null  object
 1   order_date     51281 non-null  object
 2   customer_name  51281 non-null  object
 3   segment        51281 non-null  object
 4   country        51281 non-null  object
 5   region         51281 non-null  object
 6   product_id     51281 non-null  object
 7   category       51281 non-null  object
 8   product_name   51281 non-null  object
 9   sales          51281 non-null  object
 10  quantity       51281 non-null  int64
 11  discount       51281 non-null  float64
 12  profit         51281 non-null  float64
 13  year           51281 non-null  int64
dtypes: float64(2), int64(2), object(10)
memory usage: 5.9+ MB

In [25]:
missing=[col for col in df.columns if df[col].isnull().sum() > 0]
missing

[]

In [26]:
df['segment'].unique()

array(['Consumer', 'Home Office', 'Corporate'], dtype=object)

In [27]:
df['segment'].value_counts()

segment
Consumer       26514
Corporate      15428
Home Office     9339
Name: count, dtype: int64

In [28]:
df.loc[(df['segment']=='Consumer') & (df['region']=='North Asia')]

,order_id,order_date,customer_name,segment,country,region,product_id,category,product_name,sales,quantity,discount,profit,year
39,IN-2011-33036,01-04-2011,Bradley Drucker,Consumer,Japan,North Asia,OFF-LA-10000784,Office Supplies,"Harbour Creations File Folder Labels, 5000 Lab...",27,3,0.0,13.68,2011
47,IN-2011-27681,01-05-2011,Shaun Weien,Consumer,Taiwan,North Asia,FUR-FU-10000394,Furniture,"Rubbermaid Photo Frame, Durable",49,1,0.0,22.92,2011
56,IN-2011-76107,01-06-2011,Khloe Miller,Consumer,China,North Asia,OFF-EN-10002166,Office Supplies,"Cameo Manila Envelope, with clear poly window",31,1,0.0,13.11,2011
113,IN-2011-13065,01-10-2011,Patrick O'Donnell,Consumer,China,North Asia,OFF-SU-10003559,Office Supplies,"Kleencut Ruler, Steel",26,2,0.0,5.40,2011
115,IN-2011-13065,01-10-2011,Patrick O'Donnell,Consumer,China,North Asia,OFF-BI-10002853,Office Supplies,"Avery Binder Covers, Recycled",34,3,0.0,16.11,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51008,IN-2014-33498,12/27/2014,Lycoris Saunders,Consumer,South Korea,North Asia,OFF-FA-10002890,Office Supplies,"Accos Staples, Bulk Pack",22,4,0.5,-1.38,2014
51015,IN-2014-33498,12/27/2014,Lycoris Saunders,Consumer,South Korea,North Asia,OFF-FA-10000757,Office Supplies,"Stockwell Paper Clips, Assorted Sizes",11,2,0.5,-2.01,2014
51090,IN-2014-47435,12/29/2014,Phillip Flathmann,Consumer,China,North Asia,TEC-CO-10003448,Technology,"Canon Ink, Laser",294,2,0.0,135.36,2014
51243,IN-2014-78627,12/31/2014,Maureen Gnade,Consumer,China,North Asia,TEC-AC-10003750,Technology,"Memorex Memory Card, Erganomic",300,3,0.0,84.06,2014
51265,ID-2014-58418,12/31/2014,Joseph Airdo,Consumer,China,North Asia,OFF-AR-10002389,Office Supplies,"Binney & Smith Pens, Fluorescent",40,3,0.0,6.66,2014

In [29]:
df.loc[(df['segment']=='Corporate') & (df['region']=='North Asia')].sort_values('country', ascending=False)

,order_id,order_date,customer_name,segment,country,region,product_id,category,product_name,sales,quantity,discount,profit,year
8366,IN-2011-10286,12/17/2011,Phillip Breyer,Corporate,Taiwan,North Asia,OFF-BI-10004685,Office Supplies,"Acco Binder, Economy",45,3,0.0,14.04,2011
8362,IN-2011-10286,12/17/2011,Phillip Breyer,Corporate,Taiwan,North Asia,TEC-MA-10000964,Technology,"Okidata Calculator, Red",148,3,0.0,68.22,2011
8367,IN-2011-10286,12/17/2011,Phillip Breyer,Corporate,Taiwan,North Asia,OFF-EN-10002757,Office Supplies,"Ames Interoffice Envelope, Security-Tint",95,2,0.0,13.26,2011
8374,IN-2011-10286,12/17/2011,Phillip Breyer,Corporate,Taiwan,North Asia,OFF-LA-10000635,Office Supplies,"Harbour Creations Shipping Labels, 5000 Label Set",24,2,0.0,9.48,2011
8354,IN-2011-10286,12/17/2011,Phillip Breyer,Corporate,Taiwan,North Asia,FUR-TA-10002153,Furniture,"Lesro Round Table, with Bottom Storage","1,356",3,0.0,311.85,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17122,IN-2012-45608,10/29/2012,Tracy Poddar,Corporate,China,North Asia,TEC-CO-10000660,Technology,"Brother Fax and Copier, Laser",383,2,0.0,72.72,2012
17126,IN-2012-45608,10/29/2012,Tracy Poddar,Corporate,China,North Asia,OFF-SU-10001066,Office Supplies,"Acme Letter Opener, Steel",59,2,0.0,5.28,2012
17130,IN-2012-45608,10/29/2012,Tracy Poddar,Corporate,China,North Asia,OFF-BI-10001028,Office Supplies,"Ibico 3-Hole Punch, Clear",60,2,0.0,18.54,2012
17512,IN-2012-60714,11-08-2012,Carl Jackson,Corporate,China,North Asia,FUR-BO-10000980,Furniture,"Bush Library with Doors, Traditional","1,822",5,0.0,655.65,2012
51283,IN-2014-23754,12/31/2014,Kalyca Meade,Corporate,China,North Asia,OFF-PA-10004727,Office Supplies,"Eaton Note Cards, 8.5 x 11",79,3,0.0,25.38,2014

In [30]:
df.loc[(df['segment']=='Consumer') & (df['region']=='North Asia')].sort_values('category', ascending=False)

,order_id,order_date,customer_name,segment,country,region,product_id,category,product_name,sales,quantity,discount,profit,year
15984,IN-2012-15830,9/25/2012,Doug O'Connell,Consumer,China,North Asia,TEC-MA-10004997,Technology,"Konica Receipt Printer, Red",478,4,0.0,62.04,2012
12874,IN-2012-59391,6/20/2012,Erica Smith,Consumer,China,North Asia,TEC-AC-10004704,Technology,"SanDisk Numeric Keypad, USB",106,2,0.0,30.78,2012
12957,IN-2012-37474,6/22/2012,Melanie Seite,Consumer,China,North Asia,TEC-AC-10000483,Technology,"SanDisk Memory Card, Bluetooth",225,2,0.0,6.72,2012
20828,IN-2013-15459,02-07-2013,Roy FranzÃ¶sisch,Consumer,China,North Asia,TEC-AC-10002257,Technology,"Logitech Numeric Keypad, Bluetooth",46,1,0.0,16.20,2013
43084,IN-2014-47799,8/26/2014,Duane Noonan,Consumer,China,North Asia,TEC-MA-10004424,Technology,"Panasonic Phone, Durable",255,3,0.0,40.77,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30141,IN-2013-36837,10/21/2013,Trudy Schmidt,Consumer,China,North Asia,FUR-FU-10003918,Furniture,"Advantus Photo Frame, Black",265,5,0.0,113.85,2013
7750,IN-2011-49752,12-01-2011,Christy Brittain,Consumer,Japan,North Asia,FUR-CH-10004049,Furniture,"SAFCO Bag Chairs, Set of Two",103,2,0.0,40.26,2011
20585,IN-2013-17545,1/29/2013,Greg Hansen,Consumer,Japan,North Asia,FUR-BO-10004529,Furniture,"Sauder 3-Shelf Cabinet, Pine",504,3,0.0,60.48,2013
29983,IN-2013-35878,10/15/2013,Peter BÃ¼hler,Consumer,China,North Asia,FUR-BO-10004230,Furniture,"Bush Corner Shelving, Metal",247,2,0.0,101.22,2013
21001,IN-2013-50851,2/16/2013,Anthony Witt,Consumer,China,North Asia,FUR-CH-10004863,Furniture,"SAFCO Swivel Stool, Black",828,5,0.0,397.20,2013

In [31]:
df.loc[(df['category']=='Technology') & (df['sales'] >= '990')]

,order_id,order_date,customer_name,segment,country,region,product_id,category,product_name,sales,quantity,discount,profit,year
3455,ES-2011-3965225,07-06-2011,Ed Braxton,Corporate,France,Central,TEC-PH-10003439,Technology,"Apple Audio Dock, VoIP",994,7,0.150,198.68100,2011
5204,MX-2011-107482,9/14/2011,Cyma Kinney,Corporate,Mexico,North,TEC-CO-10001933,Technology,"HP Fax Machine, High-Speed",992,5,0.002,176.81240,2011
5676,ES-2011-5251246,9/27/2011,Filia McAdams,Corporate,France,Central,TEC-CO-10001633,Technology,"Sharp Fax Machine, High-Speed",999,4,0.150,70.41000,2011
7602,CA-2011-121629,11/28/2011,Brian Thompson,Consumer,United States,Central,TEC-MA-10004679,Technology,StarTech.com 10/100 VDSL2 Ethernet Extender Kit,999,5,0.400,-199.77000,2011
7967,ES-2011-5335590,12-08-2011,Sarah Bern,Consumer,France,Central,TEC-PH-10002565,Technology,"Apple Audio Dock, with Caller ID",993,7,0.150,-0.09450,2011
12212,CA-2012-158491,06-04-2012,Becky Pak,Consumer,United States,West,TEC-AC-10003870,Technology,LogitechÂ Z-906 Speaker sys - home theater - 5....,990,3,0.000,395.98800,2012
35266,IN-2014-65817,2/24/2014,Corey Catlett,Corporate,China,North Asia,TEC-CO-10000679,Technology,"Hewlett Personal Copier, High-Speed",997,7,0.000,9.87000,2014
40661,US-2014-135503,07-03-2014,Ben Wallace,Consumer,Argentina,South,TEC-CO-10003158,Technology,"Sharp Wireless Fax, Laser",993,7,0.402,-3.40592,2014
41056,MX-2014-130211,7/14/2014,Bill Shonely,Corporate,Brazil,South,TEC-CO-10003784,Technology,"HP Fax Machine, Laser",998,5,0.002,327.90040,2014
43355,PL-2014-240,09-01-2014,Anthony Johnson,Corporate,Poland,EMEA,TEC-LOG-10003651,Technology,"Logitech Router, Programmable",995,4,0.000,358.20000,2014
48443,IN-2014-17615,11/21/2014,Bryan Mills,Consumer,China,North Asia,TEC-AC-10001995,Technology,"Logitech Router, USB",990,4,0.000,356.40000,2014
50868,ES-2014-4936686,12/26/2014,Amy Cox,Consumer,Germany,Central,TEC-AC-10003518,Technology,"Logitech Router, USB",990,4,0.000,118.80000,2014

In [32]:
df.loc[(df['region']=='Central') & (df['category']=='Office Supplies')]

,order_id,order_date,customer_name,segment,country,region,product_id,category,product_name,sales,quantity,discount,profit,year
30,ES-2011-4939443,01-04-2011,Arthur Prichep,Consumer,France,Central,OFF-AR-10001546,Office Supplies,"Binney & Smith Sketch Pad, Easy-Erase",140,3,0.0,20.8800,2011
38,CA-2011-103800,01-04-2011,Darren Powers,Consumer,United States,Central,OFF-PA-10000174,Office Supplies,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",16,2,0.2,5.5512,2011
44,ES-2011-3848439,01-05-2011,Michael Granlund,Home Office,France,Central,OFF-AR-10001291,Office Supplies,"Sanford Canvas, Fluorescent",207,4,0.0,76.5600,2011
45,ES-2011-3848439,01-05-2011,Michael Granlund,Home Office,France,Central,OFF-AR-10000833,Office Supplies,"Binney & Smith Pencil Sharpener, Water Color",90,3,0.0,20.5200,2011
46,CA-2011-112326,01-05-2011,Phillina Ober,Home Office,United States,Central,OFF-ST-10002743,Office Supplies,SAFCO Boltless Steel Shelving,273,3,0.2,-64.7748,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51267,IT-2014-3715679,12/31/2014,Jim Kriz,Home Office,Netherlands,Central,OFF-AR-10000659,Office Supplies,"BIC Pencil Sharpener, Fluorescent",30,2,0.5,-9.6900,2014
51272,IT-2014-3715679,12/31/2014,Jim Kriz,Home Office,Netherlands,Central,OFF-BI-10002986,Office Supplies,"Avery Binder Covers, Recycled",23,4,0.5,-6.4200,2014
51277,MX-2014-141712,12/31/2014,Rick Bensley,Home Office,Nicaragua,Central,OFF-ST-10002122,Office Supplies,"Smead Box, Industrial",15,2,0.0,1.2000,2014
51279,ES-2014-4785777,12/31/2014,Dennis Pardue,Home Office,Germany,Central,OFF-BI-10000620,Office Supplies,"Wilson Jones Index Tab, Economy",32,5,0.0,8.2500,2014
51287,MX-2014-110527,12/31/2014,Charlotte Melton,Consumer,Nicaragua,Central,OFF-LA-10004182,Office Supplies,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,2014

In [33]:
df.groupby('region').agg({'quantity':['max','mean']})

               quantity
                    max      mean
region
Africa               14  2.303381
Canada               12  2.169271
Caribbean            14  3.727219
Central              14  3.756657
Central Asia         14  3.767090
EMEA                 14  2.290117
East                 14  3.728837
North                14  3.766144
North Asia           14  3.785714
Oceania              14  3.682640
South                14  3.793617
Southeast Asia       14  3.777813
West                 14  3.829535

In [34]:
df.groupby(['region','product_name']).agg({'profit':'mean'})

                                                              profit
region product_name
Africa Acco 3-Hole Punch, Clear                             7.682571
       Acco 3-Hole Punch, Durable                           2.439000
       Acco 3-Hole Punch, Economy                           9.500000
       Acco 3-Hole Punch, Recycled                         10.010000
       Acco Binder Covers, Clear                            5.490000
...                                                              ...
West   iKross Bluetooth Portable Keyboard + Cell Phone...   5.028000
       iOttie HLCRIO102 Car Mount                          -2.998500
       iOttie XL Car Mount                                -17.991000
       invisibleSHIELD by ZAGG Smudge-Free Screen Prot...  18.469733
       netTALK DUO VoIP Telephone Service                  62.988000

[20708 rows x 1 columns]

In [35]:
df.head(2)

,order_id,order_date,customer_name,segment,country,region,product_id,category,product_name,sales,quantity,discount,profit,year
0,AG-2011-2040,01-01-2011,Toby Braunhardt,Consumer,Algeria,Africa,OFF-TEN-10000025,Office Supplies,"Tenex Lockers, Blue",408,2,0.0,106.140,2011
1,IN-2011-47883,01-01-2011,Joseph Holt,Consumer,Australia,Oceania,OFF-SU-10000618,Office Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,2011

In [36]:
df.groupby('year').count()['order_id']

year
2011     8996
2012    10959
2013    13796
2014    17530
Name: order_id, dtype: int64

In [37]:
df.groupby(['region','year']).agg({'profit':'mean'})

                        profit
region         year
Africa         2011  13.906117
               2012  13.502194
               2013  20.633350
               2014  24.227190
Canada         2011  29.146452
               2012  54.919551
               2013  48.391132
               2014  47.189055
Caribbean      2011  15.082730
               2012  25.162592
               2013  17.560742
               2014  23.037897
Central        2011  26.863066
               2012  27.078313
               2013  31.877129
               2014  26.052672
Central Asia   2011  63.816888
               2012  65.559007
               2013  64.792920
               2014  64.514896
EMEA           2011   6.270819
               2012   5.074508
               2013   8.102479
               2014  12.479472
East           2011  33.084628
               2012  32.750020
               2013  26.374917
               2014  36.003629
North          2011  45.747739
               2012  46.404687
               2013  40.512617
               2014  34.526721
North Asia     2011  76.208955
               2012  57.301270
               2013  78.337498
               2014  69.987322
Oceania        2011  39.386471
               2012  37.468841
               2013  40.921661
               2014  26.346669
South          2011  15.467160
               2012  21.092020
               2013  22.009699
               2014  23.364694
Southeast Asia 2011   5.669574
               2012   4.068658
               2013   3.992691
               2014   7.828239
West           2011  30.356568
               2012  31.919306
               2013  29.912531
               2014  39.945974

In [38]:
df.region.unique()

array(['Africa', 'Oceania', 'EMEA', 'North', 'Canada', 'Southeast Asia',
       'Central', 'South', 'Caribbean', 'North Asia', 'East', 'West',
       'Central Asia'], dtype=object)

In [49]:
df.groupby(['region','category','segment']).agg({'profit':'mean'})

                                       profit
region category        segment
Africa Furniture       Consumer     25.826176
                       Corporate    22.014705
                       Home Office  30.855353
       Office Supplies Consumer      8.732235
                       Corporate     8.792590
...                                       ...
West   Office Supplies Corporate    33.144366
                       Home Office  25.503733
       Technology      Consumer     92.005192
                       Corporate    62.518655
                       Home Office  43.179418

[117 rows x 1 columns]

In [41]:
df.groupby(['region','category']).agg({'profit':['min','max','mean']})

                                   profit
                                      min        max        mean
region         category
Africa         Furniture       -1576.8240  1523.5200   25.771926
               Office Supplies -1472.3760   818.2800    9.353437
               Technology      -1030.7220  2597.2800   48.482146
Canada         Furniture           0.0000   371.7000   62.220000
               Office Supplies     0.0000   593.6400   28.727545
               Technology          0.0000  1159.0200  111.486462
Caribbean      Furniture       -1315.5520  1073.4400   16.551755
               Office Supplies  -224.8400   532.3920   15.229472
               Technology       -678.9360   851.8000   39.676202
Central        Furniture       -2211.1650  1868.1300   26.662190
               Office Supplies -3701.8928  4946.3700   17.491618
               Technology      -1783.0800  8399.9760   63.484038
Central Asia   Furniture       -2380.3500  2097.0300  102.375967
               Office Supplies -1736.2800  1440.2400   24.396490
               Technology      -3009.4350  2817.9900  122.962908
EMEA           Furniture       -2750.2800  1622.8800   14.979397
               Office Supplies -1869.8760  1383.9000    4.509976
               Technology      -4088.3760  1484.1600   18.185492
East           Furniture       -1665.0522  1013.1270    5.097041
               Office Supplies -1049.3406  1453.1238   23.957114
               Technology      -6599.9780  5039.9856   88.714084
North          Furniture       -1981.3950  2071.4400   32.721765
               Office Supplies  -776.3250  1989.5400   22.101370
               Technology       -686.9700  2461.3200  107.205714
North Asia     Furniture       -1097.2800  1537.8300   99.964178
               Office Supplies  -599.9400  1722.4800   30.725304
               Technology      -1094.3400  2939.3100  149.733502
Oceania        Furniture       -1479.1260  2316.5100   45.318644
               Office Supplies  -536.4480  1644.0300   16.995299
               Technology       -875.5920  2447.1000   69.813804
South          Furniture       -1862.3124  1470.2100   17.047702
               Office Supplies -3059.8200  3979.0800   16.683573
               Technology      -3839.9904  2799.9840   39.502863
Southeast Asia Furniture       -1294.3503  1554.4320  -10.727692
               Office Supplies  -597.6810   847.0410    2.353780
               Technology       -692.9388   946.6338   31.313668
West           Furniture        -814.4832   629.0100   16.272914
               Office Supplies  -694.2936  1906.4850   27.733183
               Technology      -3399.9800  6719.9808   73.962687